@charset "utf-8";

/* fonts */
@font-face {font-family: HeliosCondBlack; src: url(../fonts/HeliosCondBlack.otf);}
@font-face {font-family: HeliosCondC; src: url(../fonts/HeliosCondC.otf);}


/* reset by medic */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

body {background: #fff;font-family: "HeliosCondC", sans-serif; font-size: 10px;}

/* wrapper */
.wrapper {max-width: 1200px; margin: 0 auto;}

/* header */
header {width: 100%;}
	.logo_wrapper {overflow: hidden; width: 100%;}
		.logo {display: block; position: relative; float: left; max-width: 37em; width: 100%; margin: 0.5em 18em 0.5em 4.5em;}
			.logo a {display: block; position: relative; max-width: 100%; height: auto;}
			.logo img {max-width: 100%;}
		.social {display: block; position: relative; float: left; margin-top: 5em;}
			.social li {display: inline-block; margin-right: 1em;}
			.social li:last-child {margin-right: 0;}
			.social li a {display: block; position: relative; width: 19px; height: 19px;}
			.social .vk {background: url(../img/social_buttons.png) 0 0 no-repeat;}
			.social .fb {background: url(../img/social_buttons.png) -31px 0 no-repeat;}
			.social .tw {background: url(../img/social_buttons.png) -63px 0 no-repeat;}
		.search {display: block; position: relative; float: right; margin: 5em 2.5em 0 0;}
			.search input {height: 19px; line-height: 19px; font-size: 15px; border: 1px solid #c2c2c2; padding-left: 10px; font-family: "HeliosCondC", sans-serif; width: 160px;}

	nav {height: 40px; width: 100%; background: #fff; font-size: 1.4em; font-weight: bold; border-bottom: 1px solid #c2c2c2; border-top: 1px solid #c2c2c2;}  
		nav ul {margin: 0 auto; width: 730px; height: 40px;}
		nav li {display: inline-block;}
		nav a {color: #000; display: inline-block; width: 100px; font-family: "HeliosCondBlack", sans-serif; text-align: center; text-decoration: none; text-transform: uppercase; line-height: 40px;}
		nav li a {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
		nav a:hover, nav a:active {background-color: #c2c2c2;}
		nav a#pull {display: none;}

/* content */
.content {width: 100%;}

/* main_banner */
.main_banner {max-width: 728px; min-width: 480px; width: 100%; margin: 0 auto; padding-top: 20px;}
	.main_banner a {max-width: 100%;}
	.main_banner a img {max-width: 100%;}

/* popular_wrapper */
.popular_wrapper {width: 100%; padding-top: 2em; overflow: hidden;}
	.popular_wrapper ul {text-align: center; margin: 0 auto; width: 100%; height: auto; overflow: hidden;}
	.popular_wrapper li:last-child {margin-right: 0;}
	.popular_wrapper li {display: block; position: relative; float: left; overflow: hidden;/}
	.popular_wrapper li a {display: block; position: relative; overflow: hidden; width: 100%; text-decoration: none; color: #fff;}
	.popular_wrapper li a:hover {opacity: 0.7;}
	.popular_wrapper li a:hover h4 {display: block;}
	.popular_wrapper li a img {max-width: 100%;}
		.thumb_item {position: absolute; top: 0; left: 0; margin: 10px 0 0 10px;}
	.popular_wrapper li a h3 {font-size: 14px; line-height: 14px; font-family: "HeliosCondBlack", sans-serif; text-shadow: 1px 1px 2px #000;}
	.popular_wrapper li a h4 {display: none; font-size: 14px; line-height: 14px; font-family: "HeliosCondBlack", sans-serif; text-shadow: 1px 1px 2px #000; padding-left: 20px; background: url(../img/eye.png) 0 50% no-repeat; text-align: left; margin: 10px 0 0 10px;}

	.thumbs_big_wrapper {padding-bottom: 0.5%;}
		.thumbs_big_wrapper li {margin-right: 0.5%; width: 49.75%;}
		.thumbs_big_wrapper h2 {margin-top: -3.125em; font-size: 1em;}

	.thumbs_small_wrapper {padding-bottom: 0.5%;}
		.thumbs_small_wrapper li {margin-right: 0.5%; width: 33%;}
		.thumbs_small_wrapper h2 {margin-top: -3.125em; font-size: 0.9em;}

/* content_section_wrapper */
.content_section_wrapper {width: 100%; padding-top: 4em; padding-bottom: 4em;}
	.section_header {display: block; position: relative; max-width: 1200px; background: url(../media/comics_paralax2.jpg) no-repeat center center fixed; background-size: cover; height: 5em;}
		.section_head_name {width: 14em; background-color: #000; opacity: 0.8;}
		.section_head_name p {text-align: center;}
		.section_head_name a {font-family: "HeliosCondBlack", sans-serif; font-size: 2em; text-transform: uppercase; line-height: 50px; text-align: center; text-decoration: none; color: #fff; cursor: pointer; opacity: 1;}
		.section_head_name a:hover {text-decoration: underline;}
	.section_wrapper {display: block; position: relative; width: 100%; overflow: hidden; padding-top: 1em; max-height: 445px;}
		.column {display: block; position: relative; float: left; overflow: hidden; margin-right: 0.5%;}
		.column:last-child {margin-right: 0;}
		.column a {display: block; position: relative; overflow: hidden; width: 100%; text-decoration: none; color: #fff;}
		.column a:hover {opacity: 0.7;}
		.column a:hover h4 {display: block;}
		.column a img {max-width: 100%;}
			.thumb_item {position: absolute; top: 0; left: 0; margin: 10px 0 0 10px;}
		.column a h3 {font-size: 14px; line-height: 14px; font-family: "HeliosCondBlack", sans-serif; text-shadow: 1px 1px 2px #000;}
		.column a h4 {display: none; font-size: 14px; line-height: 14px; font-family: "HeliosCondBlack", sans-serif; text-shadow: 1px 1px 2px #000; padding-left: 20px; background: url(../img/eye.png) 0 50% no-repeat; text-align: left; margin: 10px 0 0 10px;}

		.single {width: 24.625%;}
			.item {overflow: hidden;}
			.two_line {max-height: 219px; margin-bottom: 1.5%;}
			.two_line:last-child {margin-bottom: 0;}



/* media */
@media screen and (max-width: 1024px) {
	.logo {margin: 0.5em 8em 0.5em 0.5em;}
}

@media screen and (max-width: 800px) {
	.logo {margin: 0 auto;}
	.social {display: none;}
	.search {display: none;}

    nav {height: auto;}
    	nav li {width: 100%; display: block;}
    	nav li a {border-bottom: 1px solid #c2c2c2; border-right: 1px solid #c2c2c2;}  
    	nav a {text-align: left; width: 100%; text-indent: 25px;}
    nav {border-bottom: 0;}  
    	nav ul {display: none; height: auto; width: auto;}  
    	nav a#pull {display: block; background-color: #c2c2c2; width: 100%; position: relative;}  
    	nav a#pull:after {content:""; background: url('../img/nav-icon.png') no-repeat; width: 30px; height: 30px; display: inline-block; position: absolute; right: 15px; top: 10px;} 
}

@media only screen and (max-width: 480px) {  
    nav {border-bottom: 0;}  
    	nav ul {display: none; height: auto;}  
    	nav a#pull {display: block; background-color: #c2c2c2; width: 100%; position: relative;}  
    	nav a#pull:after {content:""; background: url('../img/nav-icon.png') no-repeat; width: 30px; height: 30px; display: inline-block; position: absolute; right: 15px; top: 10px;}
    .main_banner {display: none;}
    .popular_wrapper li, .popular_wrapper2 li {width: 100%; margin-right: 0; }
		.thumbs_big_wrapper li, .thumbs_big_wrapper2 li {margin-bottom: 0.5%;}
		.thumbs_small_wrapper li, .thumbs_small_wrapper2 li {margin-bottom: 0.5%;} 
}

@media only screen and (max-width: 320px) {  
    nav li {display: block; float: none; width: 100%;}  
    nav li a {border-bottom: 1px solid #c2c2c2;}  
}


