@charset "utf-8";

/* fonts */
@font-face {font-family: HeliosCondBlack; src: url(../fonts/HeliosCondBlack.otf);}
@font-face {font-family: HeliosCondC; src: url(../fonts/HeliosCondC.otf);}


/* reset by medic */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

body {background: #fff;font-family: "HeliosCondC", sans-serif; font-size: 10px;}

/* wrapper */
.wrapper {max-width: 1200px; margin: 0 auto;}

/* header */
header {width: 100%;}
	.logo_wrapper {overflow: hidden; width: 100%;}
		.logo {display: block; position: relative; float: left; max-width: 37em; width: 100%; margin: 0.5em 18em 0.5em 4.5em;}
			.logo a {max-width: 100%; height: auto;}
			.logo img {max-width: 100%; height: auto;}
		.social {display: block; position: relative; float: left; margin-top: 5em;}
			.social li {display: inline-block; margin-right: 1em;}
			.social li:last-child {margin-right: 0;}
			.social li a {padding: 0 19px 19px 0;}
			.social .vk {background: url(../img/social_buttons.png) 0 0 no-repeat;}
			.social .fb {background: url(../img/social_buttons.png) -31px 0 no-repeat;}
			.social .tw {background: url(../img/social_buttons.png) -63px 0 no-repeat;}
		.search {display: block; position: relative; float: right; margin: 5em 2.5em 0 0;}
			.search input {height: 19px; line-height: 19px; font-size: 15px; border: 1px solid #c2c2c2; padding-left: 10px; font-family: "HeliosCondC", sans-serif; width: 160px;}

	.clearfix:before, .clearfix:after {content: " "; display: block;}  
	.clearfix:after {clear: both;}  
	.clearfix {*zoom: 1;}

	nav {height: 40px; width: 100%; background: #fff; font-size: 1.4em; font-weight: bold; border-bottom: 1px solid #c2c2c2; border-top: 1px solid #c2c2c2;}  
		nav ul {margin: 0 auto; width: 730px; height: 40px;}
		nav li {display: inline-block;}
		nav a {color: #000; display: inline-block; width: 100px; font-family: "HeliosCondBlack", sans-serif; text-align: center; text-decoration: none; text-transform: uppercase; line-height: 40px;}
		nav li a {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
		nav a:hover, nav a:active {background-color: #c2c2c2;}
		nav a#pull {display: none;}

/* content */
.content {width: 100%;}

/* popular_wrapper */
.popular_wrapper {width: 100%; margin-top: 2em;}
	.popular_wrapper ul {text-align: center; margin: 0 auto; width: 100%; height: auto; overflow: hidden;}
	.popular_wrapper li:last-child {margin-right: 0;}
	.popular_wrapper li {display: block; position: relative; float: left; overflow: hidden;/}
	.popular_wrapper li a {width: 100%; text-decoration: none; color: #fff;}
	.popular_wrapper li a:hover {opacity: 0.7;}
	.popular_wrapper li a img {z-index: 1; max-width: 100%; height: auto;}
	.popular_wrapper li a h3 {position: absolute; bottom: 0; left: 0; z-index: 2; font-size: 14px; line-height: 14px; font-family: "HeliosCondBlack", sans-serif; text-shadow: 1px 1px 2px #000; padding: 0 10px 10px 10px;}

	.thumbs_big_wrapper {padding-bottom: 0.5%;}
		.thumbs_big_wrapper li {margin-right: 0.5%; width: 49.75%; height: 220px;}
		.thumbs_big_wrapper h2 {margin-top: -3.125em; font-size: 1em;}

	.thumbs_small_wrapper {padding-bottom: 0.5%;}
		.thumbs_small_wrapper li {margin-right: 0.5%; width: 33%; height: 150px;}
		.thumbs_small_wrapper h2 {margin-top: -3.125em; font-size: 0.9em;}



/* media */
@media screen and (max-width: 1024px) {
	.logo {margin: 0.5em 8em 0.5em 0.5em;}
	.thumbs_big_wrapper li {height: 200px;}
	.thumbs_small_wrapper li {height: 130px;}
}

@media screen and (max-width: 800px) {
	.logo {margin: 0 auto;}
	.social {display: none;}
	.search {display: none;}

    nav {height: auto;}
    	nav li {width: 100%; display: block;}
    	nav li a {border-bottom: 1px solid #c2c2c2; border-right: 1px solid #c2c2c2;}  
    	nav a {text-align: left; width: 100%; text-indent: 25px;}
    nav {border-bottom: 0;}  
    	nav ul {display: none; height: auto; width: auto;}  
    	nav a#pull {display: block; background-color: #c2c2c2; width: 100%; position: relative;}  
    	nav a#pull:after {content:""; background: url('../img/nav-icon.png') no-repeat; width: 30px; height: 30px; display: inline-block; position: absolute; right: 15px; top: 10px;} 

    .thumbs_big_wrapper li {height: 170px;}
	.thumbs_small_wrapper li {height: 100px;} 
}

@media only screen and (max-width: 480px) {  
    nav {border-bottom: 0;}  
    	nav ul {display: none; height: auto;}  
    	nav a#pull {display: block; background-color: #c2c2c2; width: 100%; position: relative;}  
    	nav a#pull:after {content:""; background: url('../img/nav-icon.png') no-repeat; width: 30px; height: 30px; display: inline-block; position: absolute; right: 15px; top: 10px;}
    .popular_wrapper li {width: 100%; margin-right: 0; }
		 .thumbs_big_wrapper li {margin-bottom: 0.5%; height: 100px;}
		.thumbs_small_wrapper li {margin-bottom: 0.5%;} 
}

@media only screen and (max-width: 320px) {  
    nav li {display: block; float: none; width: 100%;}  
    nav li a {border-bottom: 1px solid #c2c2c2;}  
}


