@charset "utf-8";

/* fonts */
@font-face {font-family: Haymaker; src: url(../fonts/AA-Haymaker.ttf);}
@font-face {font-family: HeliosCondBlack; src: url(../fonts/HeliosCondBlack.otf);}
@font-face {font-family: HeliosCondC; src: url(../fonts/HeliosCondC.otf);}


/* reset by medic */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

body {background: #000;}

/* wrapper */
.wrapper {background: #fff; width: 1200px; margin: 0 auto; font-family: "HeliosCondC", sans-serif; font-size: 14px; color: #fff;}

/* header */
header {width: 100%; background: #fff;}
	.logo {display: block; position: relative; float: left; background: #fff;}
		.logo a {font-family: "Haymaker", sans-serif; font-size: 30px; text-decoration: none;}
	.social {display: block; position: relative; float: left;}
	.search {display: block; position: relative; float: right;}